@charset "utf-8";

body{
    background-color: skyblue;    overflow: hidden;
}
#header{
    margin-bottom: 7vh;
}
section {
    overflow: hidden;
    /* margin-bottom: 19vh; */
    background: white;
    /* width: 100vw; */
    /* height: 100vh; */
    /* background-color: rgb(226, 255, 255); */
    padding: 15vh 0;

}

.book_slide_wrap {
    width: 80%;
    height: 400px;
    /* background-color: rgb(255, 241, 204); */
    margin: 0 auto;
}

.book_slide {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    /* width: 1920px; */
}

.book_slide li {
    z-index: 1;
    /* margin: 0 30px; */
    width: 400px;
    height: 400px;
    float: left;
    /* border: 1px solid; */
    position: relative;

}

.book_slide li .book {
    /* background-color: rgb(126, 126, 126); */
    background: no-repeat center center;
    background-size: contain;
    width: 300px;
    margin: 0 auto;
    height: 100%;
}


.book_slide li .info_a.on{
    opacity: 1;
}
.book_slide li .info_a {
    transition: all .3s;
    opacity: 0;
    padding: 10px 35px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    display: inline-block;
    background-color: rgb(49, 174, 247);
    box-shadow: 0 0 5px #ccc;

    color: white;

}

.slick-prev {
    z-index: 1;
    width: 80px;
    height: 80px;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background:rgb(229, 246, 253) url(../img/main-kv-arr-l.png) no-repeat center center;
    border: none;
    border-radius: 50%;
    text-indent: -9999px;
    cursor: pointer;
    padding: 50px;
    box-shadow: 0 1px 3px #ccc;
}

.slick-next {
    padding: 50px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background:rgb(229, 246, 253) url(../img/main-kv-arr-r.png) no-repeat center center;
    border: none;
    text-indent: -9999px;
    box-shadow: 0 1px 3px #ccc;
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
    border-radius: 50%;
    position: absolute;
}
.slick-dots{
    position: absolute;
    bottom: -7vh;
    left: 50%;
    transform: translateX(-50%);
}
.slick-dots li {

    width: 10px;
    height: 10px;
    /* background-color: #ccc; */
    /* border: none; */
    border: 1px solid;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.slick-dots li button {
    border: none;
    text-indent: -9999px;
}

li.slick-active {
    background-color: rgb(49, 174, 247);
}

.more_info_bg{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    display: none;
}
.more_info{
    display: none;
    z-index: 11;
    width: 80vw;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.more_info ul{
    width: 100%;height: 100%;
}




li.info_pop.show{
    display: flex;
}


li.info_pop{
    width: 100%;
    height: 100%;
    padding: 2vw 6vw;

    display: none;

}
.info_book_img{
    width: 30%;
    background: url(../img/book1.jpg) no-repeat center center;
    background-size: contain;
    /* border: 1px solid; */
    margin-right: 10%;
}
.info_book_text{
    width: 60%;
    overflow-y: scroll;

}
.info_book_text h3{
    margin: 2vh 0;
    padding-bottom: 2%;
    font-size: 1.5vw;
    border-bottom: 2px solid #ccc;
}
.info_book_text h3 span{
    padding-left: 0.3vw;
    display: inline-block;
    font-size: .8vw;
}
.info_book_text p{}
.info_book_text p span{
    color: white;
    background-color: #000;
    display: inline-block;
    padding: 3px 10px;
    margin-bottom: 10px;
    margin-left: 2px;
}











.info_close{
    /* background-color: yellow; */
    /* background: url(../img/bu_x.png) no-repeat center center; */
    background-size: cover;
    text-indent: -9999px;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 20px;
    top: 0;
    cursor: pointer;

}
.info_close a{
    display: block; 
    position: relative;

}
.info_close::after{
    display: block;
    content: "";
    width: 2px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: center;
    transform: rotate(45deg) translateX(-50%);
}
.info_close::before{
    transform: rotate(-45deg) translateX(50%);
    display: block;
    content: "";
    width: 2px;
    height: 60px;
    background-color: black;
    position: absolute;
    transform-origin: center;
    right: 50%;
    top: 50%;
    
}



.trophy{
    width: 10vw;
    height: 6vh;
    position: absolute;
    
    left: 50%;
    top: 17%;
    transform: translateX(-50%);
    background: url(../img/free-icon-trophy-2583357.png) no-repeat center center;
    background-size: contain;
    z-index: 100;
}









/* @@@@@@@@@@@@@@@@@@@@@@@@@인덱스!!!!!@@@@@@@@@@@@@@ */
.wrap {
    width: 100vw;
    height: 100vh;
    /* background-color: beige; */
    position: relative;
    color: rgb(8, 2, 63);
}

aside {
    z-index: 30;
    /* display: none; */
    padding: 6vw 3vw;
    position: absolute;
    width: 20vw;
    height: 100vh;
    left: -20vw;
    background-color: rgb(158, 229, 235);

}

aside ul {
    margin-top: 10vh;
}

aside ul li {
    font-size: 1.2vw;
    margin-bottom: 2vh;
}

aside ul li a {
    display: block;
    word-spacing: 0.2vw;
    letter-spacing: -0.1vw;
    color: rgb(49, 174, 247);
}
aside ul li a:hover{
    text-decoration: underline;
    
}
.aside_close {
    /* background-color: white; */
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: url(../img/bu_x.png) no-repeat center center;
    background-size: contain;
    z-index: 100;
}

.aside_close a {
    display: block;
}


#header {
    width: 100vw;
    height: 60px;
    text-align: center;
    /* background-color: rgb(238, 238, 238); */
    padding: 10px 20px;

}

.head_aside {
    margin-top: 5px;
    position: fixed;
    z-index: 100;
    width: 40px;
    /* background-color: wheat; */

}

.head_aside_btn {

    width: 5px;
    height: 30px;
    background-color: white;
    transition: all .1s;
    transform-origin: bottom;
    position: relative;
}

.head_aside_btn::before {
    background-color: white;
    content: "";
    display: block;
    left: 10px;
    width: 5px;
    height: 30px;
    position: absolute;
    transition: all .1s;
    transform-origin: bottom;
}

.head_aside_btn::after {
    transition: all .1s;
    /* transition: all .1s; */
    background-color: white;
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    top: 0;
    width: 5px;
    height: 30px;
    transform-origin: bottom;

}


.head_aside:hover ::after {
    /* transform-origin: bottom; */
    transform: rotate(90deg);
}

.head_aside:hover ::before {
    transform: rotate(45deg);
}

#header h1 a{
    display: inline-block;
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Libre Baskerville', serif;
    /* font-family: 'Oxygen', sans-serif; */
    font-weight: 800;
    line-height: 100px;
    word-spacing: 2vw;
    color: white;
    
    
}
.bottom_line {
    width: 45vw;
    height: 4px;
    background-color: white;
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
}

.info_date {
    position: absolute;
    bottom: 2vh;
    left: 3vw;
    font-size: 1vw;
    font-weight: bold;
    color: white;
}

.info_name {
    color: white;
    position: absolute;
    bottom: 2vh;
    right: 3vw;
}
.info_name p{
    
    font-size: 1vw;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
}







.illu_book1{
    position: absolute;
    /* border: 1px solid; */
    bottom: 10vh;
    left: 5vw;
    z-index: 1;
    transform: rotateY(180deg);
}

.illu_book1 img{
    width: 100%;
}

.illu_book2{
    position: absolute;
    /* border: 1px solid; */

    bottom: -5vh;
    right: -4vw;
    z-index: 1;
    transition: all .3s;
}
.illu_book2 img{
    width: 80%;
}

