@charset "utf-8";

.wrap {
    width: 100vw;
    height: 100vh;
    /* background-color: beige; */
    position: relative;
    color: rgb(8, 2, 63);
}

aside {
    z-index: 30;
    /* display: none; */
    padding: 6vw 3vw;
    position: absolute;
    width: 20vw;
    height: 100vh;
    left: -20vw;
    background-color: rgb(205, 252, 255);

}

aside ul {
    margin-top: 10vh;
}

aside ul li {
    font-size: 1.2vw;
    margin-bottom: 2vh;
}

aside ul li a {
    display: block;
    word-spacing: 0.2vw;
    letter-spacing: -0.1vw;
    color: rgb(8, 2, 63);
}
aside ul li a:hover{
    text-decoration: underline;
    
}
.aside_close {
    /* background-color: white; */
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: url(../img/bu_x.png) no-repeat center center;
    background-size: contain;
    z-index: 100;
}

.aside_close a {
    display: block;
}


#header {
    width: 100vw;
    height: 60px;
    text-align: center;
    /* background-color: rgb(238, 238, 238); */
    padding: 10px 20px;

}

.head_aside {
    margin-top: 5px;
    position: fixed;
    z-index: 100;
    width: 40px;
    /* background-color: wheat; */

}

.head_aside_btn {

    width: 5px;
    height: 30px;
    background-color: rgb(8, 2, 63);
    transition: all .1s;
    transform-origin: bottom;
    position: relative;
}

.head_aside_btn::before {
    background-color: rgb(8, 2, 63);
    content: "";
    display: block;
    left: 10px;
    width: 5px;
    height: 30px;
    position: absolute;
    transition: all .1s;
    transform-origin: bottom;
}

.head_aside_btn::after {
    transition: all .1s;
    /* transition: all .1s; */
    background-color: rgb(8, 2, 63);
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    top: 0;
    width: 5px;
    height: 30px;
    transform-origin: bottom;

}


.head_aside:hover ::after {
    /* transform-origin: bottom; */
    transform: rotate(90deg);
}

.head_aside:hover ::before {
    transform: rotate(45deg);
}

#header h1 a{
    display: inline-block;
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Libre Baskerville', serif;
    /* font-family: 'Oxygen', sans-serif; */
    font-weight: 800;
    line-height: 50px;
    word-spacing: 2vw;
    
    /* border: 1px solid; */
    color: rgb(8, 2, 63);
    
    
}
.bottom_line {
    width: 45vw;
    height: 4px;
    background-color: rgb(8, 2, 63);
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
}

.info_date {
    position: absolute;
    bottom: 2vh;
    left: 3vw;
    font-size: 1vw;
    font-weight: bold;
}

.info_name {

    position: absolute;
    bottom: 2vh;
    right: 3vw;
}
.info_name p{
    
    font-size: 1vw;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
}



