@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}
body{font-size: 14px; color: #444;}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}


.clear_fix::after,.clear_fix::before{clear: both; display: block; content: "";}

img{vertical-align: top;}

table{border-collapse: collapse; border-spacing:0;}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



/* 궁서 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

/* 스타일 */
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');




/* font-family: 'Noto Sans KR', sans-serif; font-weight:lighter; */
/* font-family: 'Nanum Gothic', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Gugi', cursive; */
/* font-family: 'Noto Serif KR', serif; */
/* font-family: 'Nanum Myeongjo', serif; */
/* font-family: 'Montserrat', sans-serif; */